<div class="container-fluid ps-0">
    <div class="row">
        <div class="col-md-12">
            <div class="row m-0">
                <div class="col-md-8 px-0">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Search...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Name" #input>
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-md-4 px-0 d-flex align-items-center justify-content-end mt-2">
                    <button mat-flat-button color="primary" (click)="openDialog(0,'add')"> <mat-icon
                            fontIcon="add"></mat-icon>Add User</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 pt-3 pb-4 overflow-auto">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100%">
                <!-- Position Column -->
                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.first_name | titlecase}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="last_name">
                    <th mat-header-cell *matHeaderCellDef>Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.last_name | titlecase}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="mobile_no">
                    <th mat-header-cell *matHeaderCellDef> Mobile No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobile_no}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="user_status">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex gap-2 align-items-center">
                            <mat-slide-toggle [checked]="element.user_status === 1 ? true : false"
                                (click)="changeUserStatus(element.id, element.user_status)"
                                matTooltip="{{element.user_status === 1 ? 'User Active' : 'User Inactive'}}">
                            </mat-slide-toggle>
                            <button mat-mini-fab matTooltip="Edit User" (click)="openDialog(element, 'edit')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-mini-fab matTooltip="Delete User" (click)="deleteUserClicked(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </div>

</div>