// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

:root {
  --mdc-fab-small-container-color: rgb(19, 78, 74);
  --mat-fab-small-foreground-color: #ffe5e5;
  --mdc-switch-selected-track-color: rgb(19, 78, 74);
  --mdc-switch-unselected-track-color: rgb(19, 78, 74);
  --mdc-outlined-text-field-outline-color: rgb(212 212 216);
  // --mdc-outlined-text-field-outline-width:#ffe5e5;
  --mdc-outlined-text-field-label-text-color: #ffe5e5 !important;
  --mdc-outlined-text-field-hover-outline-color: #ddd;
  --mdc-outlined-text-field-hover-label-text-color: #ffe5e5;
  --mdc-outlined-text-field-input-text-color: #ffe5e5;
  // mat icon color
  --mdc-icon-button-icon-color:rgb(212 212 216);

  @include mat.table-overrides((background-color:rgb(28 25 23),
      header-headline-color: #ffe5e5,
      row-item-label-text-color:#ffe5e5,
    ));

  @include mat.button-overrides((filled-container-color:rgb(19, 78, 74),
      filled-label-text-color:#ffe5e5,
      filled-disabled-container-color:rgb(4 47 46),
      filled-disabled-label-text-color:rgb(15 118 110),
      // small-container-color:#60625f,
    ));
  @include mat.dialog-overrides((container-color: rgb(23 23 23),
    ));
  @include mat.form-field-overrides((outlined-error-hover-label-text-color:red,
      filled-error-hover-label-text-color:red,
      filled-error-caret-color:red,
      outlined-error-hover-outline-color:red,
      trailing-icon-color:rgb(212 212 216),

    ));

  @include mat.menu-overrides((container-color:rgb(8 51 68),
    ));
    @include mat.progress-spinner-overrides((
      active-indicator-color: rgb(212 212 216),
    ));
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: rgb(30 41 59) !important;
  color: #ffe5e5 !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

main::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148)));
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

main {
  position: relative;
  top: 65px;
  width: calc(100% - 80px);
  left: 80px;
  overflow: auto;
  height: calc(100% - 65px);
  padding-top: 20px;
}

main.loginBased {
  width: 100%;
  height: 100%;
  position: static;
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: center;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}

h2#swal2-title {
  font-size: 25px;
  color: rgb(212 212 216) !important;
}
div:where(.swal2-container) div:where(.swal2-popup){
  background-color: rgb(8 47 73) !important;
}